@use 'styles/variables' as *;

.load-more {
  display: block;
  margin: 0 auto;
  background-color: $primary-500;
  color: $color-text-primary;
  border: none;
  border-radius: 99px;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 32px;
  cursor: pointer;
}
