@use 'styles/variables' as *;

:host {
  position: sticky;
  top: 0;
  z-index: $z-nav;
  display: block;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: $color-white;

  &__logo {
    height: 38px;
  }
}
